In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./financial-data.csv')

In [3]:
df.shape # Return a tuple representing the dimensionality of the DataFrame. (rows,columns)

(50, 13)

In [4]:
df.columns #

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4'],
      dtype='object')

In [6]:
type(df.columns)

pandas.core.indexes.base.Index

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  50 non-null     object
 1   Period            50 non-null     float64
 2   Data_value        50 non-null     float64
 3   Suppressed        0 non-null      float64
 4   STATUS            50 non-null     object
 5   UNITS             50 non-null     object
 6   Magnitude         50 non-null     int64
 7   Subject           50 non-null     object
 8   Group             50 non-null     object
 9   Series_title_1    50 non-null     object
 10  Series_title_2    50 non-null     object
 11  Series_title_3    50 non-null     object
 12  Series_title_4    50 non-null     object
dtypes: float64(3), int64(1), object(9)
memory usage: 5.2+ KB

In [8]:
df.head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted

In [9]:
df.isna()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
0,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,False,False,False,False,False,False
7,False,False,False,True,False,False,False,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,False,False,False,False
11,False,False,False,True,False,False,False,False,False,False,False,False,False
12,False,False,False,True,False,False,False,False,False,False,False,False,False
13,False,False,False,True,False,False,False,False,False,False,False,False,False
14,False,False,False,True,False,False,False,False,False,False,False,False,False
15,False,False,False,True,False,False,False,False,False,False,False,False,False
16,False,False,False,True,False,False,False,False,False,False,False,False,False
17,False,False,False,True,False,False,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False,False,False,False,False,False,False
19,False,False,False,True,False,False,False,False,False,False,False,False,False
20,False,False,False,True,False,False,False,False,False,False,False,False,False
21,False,False,False,True,False,False,False,False,False,False,False,False,False
22,False,False,False,True,False,False,False,False,False,False,False,False,False
23,False,False,False,True,False,False,False,False,False,False,False,False,False
24,False,False,False,True,False,False,False,False,False,False,False,False,False
25,False,False,False,True,False,False,False,False,False,False,False,False,False
26,False,False,False,True,False,False,False,False,False,False,False,False,False
27,False,False,False,True,False,False,False,False,False,False,False,False,False
28,False,False,False,True,False,False,False,False,False,False,False,False,False
29,False,False,False,True,False,False,False,False,False,False,False,False,False
30,False,False,False,True,False,False,False,False,False,False,False,False,False
31,False,False,False,True,False,False,False,False,False,False,False,False,False
32,False,False,False,True,False,False,False,False,False,False,False,False,False
33,False,False,False,True,False,False,False,False,False,False,False,False,False
34,False,False,False,True,False,False,False,False,False,False,False,False,False
35,False,False,False,True,False,False,False,False,False,False,False,False,False
36,False,False,False,True,False,False,False,False,False,False,False,False,False
37,False,False,False,True,False,False,False,False,False,False,False,False,False
38,False,False,False,True,False,False,False,False,False,False,False,False,False
39,False,False,False,True,False,False,False,False,False,False,False,False,False
40,False,False,False,True,False,False,False,False,False,False,False,False,False
41,False,False,False,True,False,False,False,False,False,False,False,False,False
42,False,False,False,True,False,False,False,False,False,False,False,False,False
43,False,False,False,True,False,False,False,False,False,False,False,False,False
44,False,False,False,True,False,False,False,False,False,False,False,False,False
45,False,False,False,True,False,False,False,False,False,False,False,False,False
46,False,False,False,True,False,False,False,False,False,False,False,False,False
47,False,False,False,True,False,False,False,False,False,False,False,False,False
48,False,False,False,True,False,False,False,False,False,False,False,False,False
49,False,False,False,True,False,False,False,False,False,False,False,False,False

In [10]:
df.isna().sum()

Series_reference     0
Period               0
Data_value           0
Suppressed          50
STATUS               0
UNITS                0
Magnitude            0
Subject              0
Group                0
Series_title_1       0
Series_title_2       0
Series_title_3       0
Series_title_4       0
dtype: int64

In [12]:
# since suppressed columns have all null values, will drop it
df.drop('Suppressed', axis = 1, inplace = True)

In [13]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'STATUS', 'UNITS',
       'Magnitude', 'Subject', 'Group', 'Series_title_1', 'Series_title_2',
       'Series_title_3', 'Series_title_4'],
      dtype='object')

In [14]:
series = df['Subject']

In [15]:
type(series)

pandas.core.series.Series

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.tail(1)

,Series_reference,Period,Data_value,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
49,BDCQ.SF1AA2CS,2022.06,1604.304,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Seasonally adjusted

In [18]:
df.sort_index(axis = 1, inplace=True) #sorting the columns

In [20]:
df.head(2)

,Data_value,Group,Magnitude,Period,STATUS,Series_reference,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Subject,UNITS
0,1116.386,Industry by financial variable (NZSIOC Level 2),6,2016.06,F,BDCQ.SF1AA2CA,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,Business Data Collection - BDC,Dollars
1,1070.874,Industry by financial variable (NZSIOC Level 2),6,2016.09,F,BDCQ.SF1AA2CA,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,Business Data Collection - BDC,Dollars

In [ ]:
.