In [1]:
import pandas as pd

In [ ]:
l = [10,20,30,40]

In [3]:
#creating the Series
pd.Series(l)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
#series indexes can be changed to custom format
pd.Series(data=l, index=['a','b','c','d'])

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
d = {'name':['siva', 'raj', 'kumar'] }

In [6]:
d

{'name': ['siva', 'raj', 'kumar']}

In [7]:
d['percentages'] = [56,87,37]

In [8]:
d

{'name': ['siva', 'raj', 'kumar'], 'percentages': [56, 87, 37]}

In [9]:
type(d)

dict

In [10]:
pd.DataFrame(d)

    name  percentages
0   siva           56
1    raj           87
2  kumar           37

In [11]:
import numpy as np

In [12]:
np.abs(34.5646)

34.5646

In [13]:
np.ceil(34.464)

35.0